In [1]:
# import necessary libraries
import os
import sklearn as scikit_learn
import pandas as pd
import matplotlib.pyplot as plt
import stata_setup
stata_setup.config("C:/Program Files/Stata18", 'be') # Path to the STATA executable
from pystata import stata
import statsmodels.formula.api as sm

  ___  ____  ____  ____  ____ ®
 /__    /   ____/   /   ____/      18.0
___/   /   /___/   /   /___/       BE—Basic Edition

 Statistics and Data Science       Copyright 1985-2023 StataCorp LLC
                                   StataCorp
                                   4905 Lakeway Drive
                                   College Station, Texas 77845 USA
                                   800-STATA-PC        https://www.stata.com
                                   979-696-4600        stata@stata.com

Stata license: Unlimited-user network, expiring  4 May 2025
Serial number: 501809301547
  Licensed to: Chrysanthi Polyzoni
               Università Milano Bicocca

Notes:
      1. Unicode is supported; see help unicode_advice.

In [2]:
# Get the current working directory
current_directory = os.getcwd()
print(f"The current working directory is: {current_directory}")

The current working directory is: C:\Users\chpol\documents\Stata\econometrics

In [3]:
# read and transpose data from existing file
df = pd.read_csv('raw_data.csv').T

In [4]:
# set column names
df.columns = ['SOVGDE', 'SNETD', 'SNPTD', 'SUVGD', 'RUWCD', 'RUYNH', 'RUIGT',
       'ROKND', 'RPDNN']

In [5]:
# check column names
df.columns

Index(['SOVGDE', 'SNETD', 'SNPTD', 'SUVGD', 'RUWCD', 'RUYNH', 'RUIGT', 'ROKND',
       'RPDNN'],
      dtype='object')

In [6]:
# explore first line which explains variables
df[df.index == 'Unnamed: 1']

,SOVGDE,SNETD,SNPTD,SUVGD,RUWCD,RUYNH,RUIGT,ROKND,RPDNN
Unnamed: 1,Real labour productivity per person employed,"Total Employment (workplace based, employed pe...",Average annual population,\tGDP at current market prices,Compensation of employees at current prices,Current taxes on income and wealth,Gross Fixed Capital Formation at current prices,Capital Stock at constant prices,Early leavers from education and training

In [7]:
# Check further SUVDG variable name explanation
df[df.index == 'Unnamed: 1']._get_value('Unnamed: 1', 'SUVGD')

'\tGDP at current market prices'

In [8]:
# replace SUVDG variable name explanation and create a new dataframe namely variables_df holding variable information
variables_df = df[df.index == 'Unnamed: 1'].replace('\tGDP at current market prices', 'GDP at current market prices')

In [9]:
# check variables_df
variables_df

,SOVGDE,SNETD,SNPTD,SUVGD,RUWCD,RUYNH,RUIGT,ROKND,RPDNN
Unnamed: 1,Real labour productivity per person employed,"Total Employment (workplace based, employed pe...",Average annual population,GDP at current market prices,Compensation of employees at current prices,Current taxes on income and wealth,Gross Fixed Capital Formation at current prices,Capital Stock at constant prices,Early leavers from education and training

In [10]:
# checking columns and values
print(variables_df.columns) # columns
print(variables_df[variables_df.index == 'Unnamed: 1'].values) # values

Index(['SOVGDE', 'SNETD', 'SNPTD', 'SUVGD', 'RUWCD', 'RUYNH', 'RUIGT', 'ROKND',
       'RPDNN'],
      dtype='object')
[['Real labour productivity per person employed'
  'Total Employment (workplace based, employed persons)'
  'Average annual population' 'GDP at current market prices'
  'Compensation of employees at current prices'
  'Current taxes on income and wealth'
  'Gross Fixed Capital Formation at current prices'
  'Capital Stock at constant prices'
  'Early leavers from education and training']]

In [11]:
# extracting values
variables_df[variables_df.index == 'Unnamed: 1'].values[0]

array(['Real labour productivity per person employed',
       'Total Employment (workplace based, employed persons)',
       'Average annual population', 'GDP at current market prices',
       'Compensation of employees at current prices',
       'Current taxes on income and wealth',
       'Gross Fixed Capital Formation at current prices',
       'Capital Stock at constant prices',
       'Early leavers from education and training'], dtype=object)

In [12]:
# create a variables explanatory dictionary
variables_dict = {k:v for (k, v) in zip(variables_df.columns, variables_df[variables_df.index == 'Unnamed: 1'].values[0])}

In [53]:
# check variables dictionary
variables_dict

{'SOVGDE': 'Real labour productivity per person employed',
 'SNETD': 'Total Employment (workplace based, employed persons)',
 'SNPTD': 'Average annual population',
 'SUVGD': 'GDP at current market prices',
 'RUWCD': 'Compensation of employees at current prices',
 'RUYNH': 'Current taxes on income and wealth',
 'RUIGT': 'Gross Fixed Capital Formation at current prices',
 'ROKND': 'Capital Stock at constant prices',
 'RPDNN': 'Early leavers from education and training'}

In [60]:
list(variables_dict.values())

['Real labour productivity per person employed',
 'Total Employment (workplace based, employed persons)',
 'Average annual population',
 'GDP at current market prices',
 'Compensation of employees at current prices',
 'Current taxes on income and wealth',
 'Gross Fixed Capital Formation at current prices',
 'Capital Stock at constant prices',
 'Early leavers from education and training']

In [65]:
string = list(variables_dict.values())[0].title().replace(" ", "")
string = string[0].lower() + string[1:]

In [66]:
string

'realLabourProductivityPerPersonEmployed'

In [78]:
for i in range(len(list(variables_dict.values()))):
    string = list(variables_dict.values())[i].title().replace(" ", "").replace("(", "").replace(")", "").replace(",", "")
    string = string[0].lower() + string[1:]
    print(string)

realLabourProductivityPerPersonEmployed
totalEmploymentWorkplaceBasedEmployedPersons
averageAnnualPopulation
gdpAtCurrentMarketPrices
compensationOfEmployeesAtCurrentPrices
currentTaxesOnIncomeAndWealth
grossFixedCapitalFormationAtCurrentPrices
capitalStockAtConstantPrices
earlyLeaversFromEducationAndTraining

In [14]:
# fixing initial data dataframe
df = df.drop(index=['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2'])

In [15]:
# check df
df.head()

,SOVGDE,SNETD,SNPTD,SUVGD,RUWCD,RUYNH,RUIGT,ROKND,RPDNN
1980,52720.23,21493.0,56472720.0,341455.1,156060.1,61278.7,88494.3,3230559.0,NaN
1981,53048.03,21479.1,56540513.0,385319.7,178664.1,71302.5,100625.5,3342040.0,NaN
1982,53015.9,21525.6,56543548.0,434131.5,198557.0,88362.0,107278.3,3438693.0,NaN
1983,53330.18,21596.7,56564074.0,496161.4,223689.0,104323.6,116710.2,3527297.0,NaN
1984,54969.19,21584.0,56576718.0,554662.7,243842.6,119351.5,128981.8,3617799.0,NaN

In [16]:
# fixing dataframe datatype
for i in df.columns:
    df[i] = pd.to_numeric(df[i], errors='coerce')

In [17]:
import os
# Check if the file already exists
if not os.path.exists(current_directory + "\\data.dta"):
    # If the file doesn't exist, save the DataFrame to Stata
    df.to_stata(current_directory + "\\data.dta")
    print(f"File saved to {current_directory + "\\data.dta"}")
else:
    print(f"The file {current_directory + "\\data.dta"} already exists. Skipping save.")

if not os.path.exists(current_directory + "\\data.csv"):
    # If the file doesn't exist, save the DataFrame to Stata
    df.to_csv(current_directory + "\\data.csv")
    print(f"File saved to {current_directory + "\\data.csv"}")
else:
    print(f"The file {current_directory + "\\data.csv"} already exists. Skipping save.")

The file C:\Users\chpol\documents\Stata\econometrics\data.dta already exists. Skipping save.
The file C:\Users\chpol\documents\Stata\econometrics\data.csv already exists. Skipping save.

Checking if stata works correctly by running the example offered in [Basic usage](https://www.stata.com/python/pystata18/notebook/Example1.html) for configuration of Jupyter with Stata.

In [18]:
%%stata
use https://www.stata-press.com/data/r18/lutkepohl2
describe
tsset

. use https://www.stata-press.com/data/r18/lutkepohl2
(Quarterly SA West German macro data, Bil DM, from Lutkepohl 1993 Table E.1)

. describe

Contains data from https://www.stata-press.com/data/r18/lutkepohl2.dta
 Observations:            92                  Quarterly SA West German macro
                                                data, Bil DM, from Lutkepohl
                                                1993 Table E.1
    Variables:            10                  4 Dec 2022 14:31
-------------------------------------------------------------------------------
Variable      Storage   Display    Value
    name         type    format    label      Variable label
-------------------------------------------------------------------------------
inv             int     %8.0g                 Investment
inc             int     %8.0g                 Income
consump         int     %8.0g                 Consumption
qtr             byte    %tq                   Quarter
ln_inv          float   %9.0g                 Log investment
dln_inv         float   %9.0g                 First-difference of ln_inv
ln_inc          float   %9.0g                 Log income
dln_inc         float   %9.0g                 First-difference of ln_inc
ln_consump      float   %9.0g                 Log consumption
dln_consump     float   %9.0g                 First-difference of ln_consump
-------------------------------------------------------------------------------
Sorted by: qtr

. tsset

Time variable: qtr, 1960q1 to 1982q4
        Delta: 1 quarter

.